<footer class="bg-dark pt-5">
    <div class="row ms-5">
        <div class="cols-2 ms-2">
            <img src="../../../assets/images/logo.png" alt="" width="100" height="70">
                <p class="mt-3">Phone: +91 7249717741</p>
                <p>Email: chandan.pandey&#64;techeazyconsulting.com</p>  
            <div class="social">
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>    
            </div>
        </div>
        <div class="cols mt-3">
            <h6>About Company</h6>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Bootcamps</a></li>
            </ul>
        </div>
        <div class="cols mt-3">
            <h6>Skill Up Fast</h6>
            <ul>
                <li><a href="">Java</a></li>
                <li><a href="">Python</a></li>
                <li><a href="">Rest API</a></li>
                <li><a href="">AWS Cloud</a></li>
            </ul>
        </div>
        <div class="cols mt-3">
            <h6>Address</h6>
            <p>6th Floor Pentagon P-2, Magarpatta City
                Pune, Maharashtra 411028</p>
        </div>
        <div class="col-2 mt-3">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d106117.20445878028!2d73.95672751039146!3d18.530789028517393!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43acee74fed160b9%3A0xc55735293be66175!2sTechEazy%20Consulting!5e0!3m2!1sen!2sin!4v1725950348809!5m2!1sen!2sin"
                width="450"
                height="200"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
            >
            </iframe>
        </div>
    </div>
    <div class="row mt-5 mx-5 px-5 text-center para bg-secondary bg-opacity-25">
        <p>Master Java with clear, concise video lessons. Build strong fundamentals and practical skills to ace your next coding interview or project. Save time and accelerate your journey to becoming a Java expert.</p>
    </div>
    <div class="copyright mt-5 p-3 text-center ">
        &#169;Copyright TechEazy-consulting All Rights Reserved
    </div>
</footer>